<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @Html.ActionLink("Principal", "Index") - 
        @Html.ActionLink("Ir a Vista 2","Vista2") - 
        @Html.ActionLink("Ir a Vista 3", "Vista3")
        @RenderBody()
        <h5>Carlos Luna © 2021 - Todos los derechos reservados.</h5>
    </div>
</body>
</html>
